<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ .Title }}</title>
        <link rel="stylesheet" href="/css/auto-suggest.css">
        <script src="/js"></script>
        <script src="/js/auto-suggest.js"></script>
    </head>
    <body>
        <h1>{{ .Content }}</h1>
        <div class="suggest__container form-group">
            <label>
                    <span class="form-label">
                        title
                    </span>
                <input
                    class="form-control"
                    name="query"
                    data-url="/api/v1/suggest-address"
                >
            </label>
            <div
                class="suggest__dropdown suggest__dropdown--hidden"
                data-option-label="value"
                data-option-value="value"
            ></div>
        </div>
    </body>
</html>